<main class="main">
  <section class="search">
    <h2 class="search__title">Buscador de Cócteles</h2>
    <form>
      <input
        class="search__title__input"
        type="text"
        placeholder="search cocktail"
      />
      <button class="search__title__btn js-search">Buscar</button>
      <button class="search__title__btn">Reset</button>
    </form>
  </section>

  <section class="cocktail">
    <article class="cocktail__list">
      <h3 class="cocktail__list__title">Cocktail list</h3>
      <ul class="list__ul"></ul>
    </article>

    <article class="cocktail__favorite">
      <h3 class="cocktail__favorite__title">Favorite Cocktails</h3>
      <ul class="favoritelist__ul"></ul>
    </article>
  </section>
</main>
