<main class="main">
  <section class="hero"></section>
  <section class="search">
    <form class="search__form">
      <label class="search__title" for="search"
        >Do you want to look for a cocktail?</label
      >

      <input
        class="search__input js-input"
        type="text"
        placeholder="search cocktail"
        id="search"
      />
      <div>
        <button class="search__btn js-search">Buscar</button>
        <button class="search__btn">Reset</button>
      </div>
    </form>
  </section>

  <section class="cocktail">
    <article class="cocktail__list">
      <h3 class="cocktail__list__title">Cocktail list</h3>
      <ul class="list__ul js-ul"></ul>
    </article>

    <article class="cocktail__favorite">
      <h3 class="cocktail__favorite__title">Favorite Cocktails</h3>
      <ul class="favoritelist__ul js-ul-favorite"></ul>
    </article>
  </section>
</main>
