.hero {
  height: 30vh;
  background-color: aqua;
  // background-image: url("https://okdiario.com/img/2020/06/27/cocteles-655x368.jpg");
  background-image: url("https://media.gq.com.mx/photos/603e541494037dd0571a3f8b/master/pass/COCTELES.jpg");
  background-position: center center;
  background-size: cover;
}

.search {
  height: 15rem;
  background-color: rgb(247, 237, 244);

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  &__title {
    font-size: 1.4rem;
    color: rgb(212, 76, 99);
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__input {
    text-align: center;
    border-style: none;
    height: 2rem;
    width: 50vh;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(241, 215, 234);
  }

  &__input::placeholder {
    color: rgb(241, 215, 234);
  }

  &__btn {
    border-style: none;
    background-color: rgb(212, 76, 99);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 10rem;
    margin: 0.5rem;
    box-shadow: 0 1px 5px 0 rgb(212, 76, 99), 0 1px 3px 0 rgba(22, 3, 3, 0.877);
  }
}

.cocktail {
  //  background-color: rgb(241, 215, 234);
  margin-top: 2rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;

  &__list {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid rgb(241, 215, 234);
    border-radius: 2rem;
    margin-right: 1rem;

    &__ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
  }

  &__favorite {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid rgb(241, 215, 234);
    border-radius: 2rem;
  }
  &__title {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(212, 76, 99);
    padding-bottom: 1rem;
    // border-bottom: dotted 2px rgb(212, 76, 99);
  }
  &__titlefavorite {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    width: 10rem;
    padding-bottom: 1rem;
    height: 5rem;
    background-color: rgb(212, 76, 99);
    transform: translate(0, -30px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
  }
}

.listcoktails {
  //background-color: aqua;
  height: 100px;
  width: 15vw;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  // border: 2px solid rgb(212, 76, 99);
  // border-radius: 1rem;
}

.imgcocktails {
  width: 20vw;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgb(212, 76, 99), 0 1px 3px 0 rgba(22, 3, 3, 0.877);
  cursor: pointer;
}

.titlecocktails {
  font-size: 1.2rem;
  transform: translate(0, +10px);
  border-radius: 2rem;
  padding: 1rem;
  width: 7rem;
  border-radius: 2rem;
  background-color: rgb(212, 76, 99);
  opacity: 0.8;
  color: white;
}

.color {
  color: rgb(212, 76, 99);
  background-color: rgb(241, 215, 234);
}
