.hero {
  height: 35vh;
  background-color: aqua;
  // background-image: url("https://okdiario.com/img/2020/06/27/cocteles-655x368.jpg");
  background-image: url("https://media.gq.com.mx/photos/603e541494037dd0571a3f8b/master/pass/COCTELES.jpg");
  background-position: center center;
  background-size: cover;
}

.search {
  height: 15rem;
  background-color: rgb(247, 237, 244);

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  &__title {
    font-size: 1.4rem;
    color: $color-pink;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__input {
    text-align: center;
    border-style: none;
    height: 2rem;
    width: 30rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(241, 215, 234);
  }

  &__input::placeholder {
    color: rgb(241, 215, 234);
  }

  &__btn {
    border-style: none;
    background-color: $color-pink;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 10rem;
    margin: 0.5rem;
    box-shadow: 0 1px 5px 0 $color-pink, 0 1px 3px 0 rgba(22, 3, 3, 0.877);
  }
}

.cocktail {
  //  background-color: rgb(241, 215, 234);
  margin-top: 2rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;

  &__list {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid $color-pink;
    margin-top: 20px;
    border-radius: 2rem;
    margin-right: 1.5rem;
    padding-bottom: 30px;

    &__ul {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
  }

  &__favorite {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    border: 3px solid $color-pink;
    border-radius: 2rem;
    width: 220px;
    box-shadow: 0 1px 5px 0 $color-pink;
    padding-bottom: 30px;
  }
  &__title {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-pink;
  }
  &__titlefavorite {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: $color-pink;
    transform: translate(0, -50px);
    padding: 5px 0;
    width: 12rem;
    height: 7.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -55px;
    box-shadow: 0 1px 5px 0 $color-pink, 0 1px 10px 0 rgba(94, 211, 100, 0.877);
  }
}

.listcoktails {
  height: 100px;
  width: 15vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 1rem 5rem 1rem;
}

.imgcocktails {
  width: 110px;
  border-radius: 50%;
  box-shadow: 0 1px 10px 0 $color-pink, 0 1px 20px 0 rgba(22, 3, 3, 0.877);
  cursor: pointer;
}

.titlecocktails {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  transform: translate(0, 15px);
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
  background-color: rgb(241, 215, 234);
  border: 0.5px solid $color-pink;
  opacity: 0.8;
  color: $color-pink;
}

.color {
  color: white;
  background-color: $color-pink;
  box-shadow: 0 1px 10px 0 rgba(94, 211, 100, 0.877);
  border: 0.5px solid $color-pink;
  opacity: 0.9;
}

.delete-x {
  background-color: $color-pink;
  font-size: 14px;
  padding: 0.7rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  border-radius: 50%;
  transform: translate(50px, -30px);
  border: 0.5px solid white;
  color: white;
  cursor: pointer;
}
